.nav {
  width: 101.5%;
  background-color: rgb(21, 78, 133);
  float: left;
  margin-top: -22px;
  margin-left: -10px;
}

/* Navbar links */
.nav a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.nav a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: rgb(3, 42, 97);
}
body,
html {
  height: 100%;
  background-color: rgb(3, 12, 136);
}

.bg {
  /* The image used */
  background-image: url("images/kyle_field_snow.jpg");
  margin-left: -10px;
  /* Full height */
  height: 100%;
  width: 101.5%;
  /* Center and scale the image nicely */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.major {
  text-align: center;
  color: black;
  font-size: 50px;
  margin: auto;
  width: 70%;
  text-decoration: none;
  font-family: "Copperplate", monospace;
  font-weight: 50;
  padding-bottom: 20px;
}
.major:hover {
  color: maroon;
}

.school {
  text-align: center;
  color: black;
  font-size: 50px;
  margin: auto;
  width: 70%;
  text-decoration: none;
  font-family: "Copperplate", monospace;
  font-weight: 50;
  padding-bottom: 20px;
}
.school:hover {
  color: maroon;
}

.name {
  text-align: center;
  color: black;
  font-size: 50px;
  margin: auto;
  width: 50%;
  font-family: "Copperplate", monospace;
  font-weight: 50;
  padding-bottom: 20px;
}

.minor {
  text-align: center;
  color: black;
  font-size: 50px;
  margin: auto;
  width: 70%;
  text-decoration: none;
  font-family: "Copperplate", monospace;
  font-weight: 50;
  padding-bottom: 20px;
}
.minor:hover {
  color: maroon;
}

.contact {
  background-color: rgb(21, 78, 133);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  height: 20%;
}
.contact-text {
  margin-left: 5px;
  margin-bottom: -1px;
}
.email {
  text-align: left;
  color: white;
  font-size: 14px;
  margin: auto;
  margin-left: 5px;
  text-decoration: none;
  font-family: "Copperplate", monospace;
  font-weight: 50;
  padding-bottom: 10px;
}

.email:hover {
  color: maroon;
}

.btn {
  background-color: maroon;
  border: none;
  color: white;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 8px;
  margin-left: 1100px;
}

.btn:hover {
  background-color: rgb(131, 42, 42);
}
