.nav {
  width: 101.5%;
  background-color: rgb(21, 78, 133);
  float: left;
  margin-top: -22px;
  margin-left: -10px;
}

/* Navbar links */
.nav a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.nav a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: rgb(3, 42, 97);
}
body,
html {
  height: 100%;
  background-color: rgb(174, 214, 236);
}

.title {
  text-align: center;
  color: white;
  font-size: 50px;
  margin: auto;
  width: 70%;
  text-decoration: none;
  font-family: "Copperplate", monospace;
  font-weight: 50;
  padding-bottom: 20px;
}
.projects {
  text-align: none;
  color: white;
  font-size: 30px;
  width: 60%;
  text-decoration: none;
  font-family: "Copperplate", monospace;
  font-weight: 50;
  padding-bottom: 20px;
}
.project-text {
  float: right;
  color: rgba(0, 0, 0, 0.993);
  font-size: 18px;
  width: 60%;
  text-decoration: none;
  font-family: "Copperplate", monospace;
  font-weight: 580;

  padding-bottom: 110px;
}

.bpd {
  float: auto;
  color: rgba(0, 0, 0, 0.993);
  font-size: 18px;
  width: 60%;
  text-decoration: none;
  font-family: "Copperplate", monospace;
  font-weight: 580;
}
.bpd:hover {
  color: maroon;
}

.amp {
  float: right;
}
.cpu {
  float: right;
  max-width: 40%;
  height: auto;
}

.git {
  float: right;
  color: rgba(0, 0, 0, 0.993);
  font-size: 18px;
  width: 60%;
  text-decoration: none;
  font-family: "Copperplate", monospace;
  font-weight: 580;
  padding-top: 110px;
  margin-top: -50px;
}
.git a:hover {
  color: maroon;
}

.card-img-top {
  max-width: 40%;
  height: auto;
}
.card-body {
  font-size: 11px;
  margin-left: -127px;
}

.resume {
  background-color: rgb(174, 214, 236);
  width: 14rem;
}
#future-title {
  margin-top: -60px;
}

#future-text {
  text-align: center;
  margin-left: 1px;
  width: 80%;
  margin-right: 90px;
}
#techskills {
  margin-top: -50px;
}
ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.skills {
  margin-left: 300px;
  color: rgba(0, 0, 0, 0.993);
  font-size: 22px;
  width: 60%;
  text-decoration: none;
  font-family: "Courier New", monospace;
  font-weight: 580;
  margin-bottom: 50px;
}

#service_title {
  margin-top: 50px;
  margin-bottom: 0px;
}

.unicef_pic {
  max-width: 90%;
  height: auto;
  margin-left: 200px;
  margin-right: 400px;
  margin-top: 30px;
}

#service_text {
  text-align: center;
  margin-left: 10px;
  width: 80%;
  margin-right: 90px;
}

.headshot {
  max-width: 40%;
  height: auto;
  margin-left: 250px;
  margin-top: -100px;
}
